// @BeeOverwrite YES
// @BeeGenerateTime {{generateTime}}
package {{packageName}}

import (
        "errors"
        "fmt"
        "reflect"
        "strings"
        "github.com/beego/beego/v2/client/orm"
        {% for value in packageImports %}"{{value}}"
    {% endfor %}
)

type {{modelName|upperFirst}} struct {
     {% for value in modelSchemas %}{{value.Name|camelString}} {{value.GoType}} `{% if value.Name!= "" %} bson:"{{value.Name}}"{% endif %} json:"{{value.Name|camelString|lowerFirst}}"` // {{value.Comment}}
     {% endfor %}
}


func (t *{{modelName|upperFirst}}) GetConfig() nonomongo.ModelConfig {
	return nonomongo.ModelConfig{
		DBUrl:   config.GetStringValue("mongodb", "cms_url", ""),
		DBName:  "CMS",
		ColName: "{{modelName|snakeString}}",
	}
}
